# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# API Keys ve Hassas Bilgiler
# utils içindeki dosyaları ignore et (doğru yoldan)
# utils dosyalarını dışla
src/utils/apiPaths.js
src/utils/axiosInstance.js
src/utils/data.js
src/utils/helper.js
src/utils/uploadImage.js